<div class="navBar">
  <div id="logo"></div>
  <div id="heading"><a routerLink="/">ChatApp</a></div>
  <div class="links">
    <span>
      <a *ngIf="!(user | async)?.uid" routerLink="/login" routerLinkActive="active">Login</a>
    </span>
    <span>
      <a *ngIf="!(user | async)?.uid" routerLink="/signup" routerLinkActive="active">Sign Up</a>
    </span>
    <span>
      <span id="userEmail" *ngIf="(user | async)?.uid">
        Hi, {{ userEmail }}
      </span>
    </span>
    <span>
      <a *ngIf="(user | async)?.uid" style="cursor: pointer;" (click)="logout()">Logout</a>
    </span>
  </div>
</div>
