.messageContainer {
  display: flex;
  height: auto;
  width: 50%;
  min-width: 400px;
  border-radius: 5px;
  align-items: stretch;
  background-color: #eee;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.isOwnMessageContainer {
  background-color: #075e54;
  margin-left: 10%;

}

.messageData {
  flex: 1;
  padding: 10px;
  font-size: 0.6em;
}

.sender {
  display: block;
  color: #222;
  font-weight: bolder;
  border-bottom: solid 1px rgb(145, 143, 143);
  padding-bottom: 0.3rem;
  margin-bottom: 0.3rem;
}

.isOwnSender {
  color: #dcf8c6;
  border-bottom: solid 1px #dcf8c6;
}

.timestamp {
  color: #555;
  font-style: italic;
}

.isOwnTimestamp {
  color: #fff;
}

.messageContent {
  height: auto;
  flex: 9;
  background-color: #fff;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.isOwnMessageContent {
  background-color: #dcf8c6;
  color: #222;
}
